<div class="inputGroup1">
    <form [formGroup]="actForm" (ngSubmit)="onSubmit()">
            <div class="group">
            <div class="inputGroup2">
                <label for="cedula">NO. CÉDULA</label>
                <input type="text" id="cedula" name="cedula" appUppercase formControlName="NuCedula" (keydown.enter)="searchUserByCedula($event)">
            </div>

            <div class="inputGroup2">
                <label for="contract">NO. CONTRATO</label>
                <input type="text" id="contract" name="contract" appUppercase formControlName="NoContrato">
            </div>
        </div>

        <div class="inputGroup3">
            <label for="client">CLIENTE</label>
            <input type="text" id="client" name="client" appUppercase formControlName="Nombre">
        </div>

        <div class="inputGroup3">
            <label for="contact">CONTACTO</label>
            <input type="text" id="contact" name="contact" appUppercase formControlName="Txcontacto">
        </div>

        <h2>Detalles</h2>
        <div class="details">
            <div class="inputGroup4">
                <div class="chemise">
                    <div class="inputGroup2">
                        <label for="chemise">TALLA CHEMISE</label>
                        <input type="text" id="chemise" name="chemise" appUppercase formControlName="Chemise">
                    </div>

                    <div class="inputGroup2">
                        <label for="talonario">TALONARIO RIFA</label>
                        <input type="text" id="talonario" name="talonario" appUppercase >
                    </div>

                    <div class="icons">
                        <div class="icon2 add2" title="Cancelar" >
                            <i class="pi pi-plus"></i>
                        </div>

                        <div class="icon2 delete2" title="Cancelar">
                            <i class="pi pi-minus"></i>
                        </div>
                    </div>
                </div>

                <div class="talonarioInput">
                    <h4>Talonario</h4>
                    <textarea name="" id=""></textarea>
                </div>
            </div>
        </div>

        <div class="btns">
            <div class="icon" title="Cancelar" (click)="onSubmit()" [class.disabled]="actForm.invalid">
                <i class="pi pi-save"></i>
            </div>

            <div class="icon" title="Cancelar">
                <i class="pi pi-sign-out"></i>
            </div>
        </div>
    </form>
</div>
