<div class="inputGroup1">
    <div class="group">
        <div class="inputGroup2">
            <label for="cedula">NO. CÉDULA</label>
            <input type="text" id="cedula" name="cedula" appUppercase formControlName="Cedula">
        </div>

        <div class="inputGroup2">
            <label for="contract">NO. CONTRATO</label>
            <input type="text" id="contract" name="contract" appUppercase formControlName="NoContrato">
        </div>
    </div>

    <div class="inputGroup3">
        <label for="client">CLIENTE</label>
        <input type="text" id="client" name="client" appUppercase formControlName="Cliente">
    </div>

    <div class="inputGroup3">
        <label for="contact">CONTACTO</label>
        <input type="text" id="contact" name="contact" appUppercase formControlName="Contacto">
    </div>

    <h2>Detalles</h2>
    <div class="details">
        <div class="inputGroup4">
            <div class="chemise">
                <div class="inputGroup2">
                    <label for="chemise">TALLA CHEMISE</label>
                    <input type="text" id="chemise" name="chemise" appUppercase formControlName="TallaChemise">
                </div>

                <div class="inputGroup2">
                    <label for="talonario">TALONARIO RIFA</label>
                    <input type="text" id="talonario" name="talonario" appUppercase formControlName="TalonarioRifa">
                </div>

                <div class="icons">
                    <div class="icon2 add2" title="Cancelar" >
                        <i class="pi pi-plus"></i>
                    </div>

                    <div class="icon2 delete2" title="Cancelar">
                        <i class="pi pi-minus"></i>
                    </div>
                </div>
            </div>

            <div class="talonarioInput">
                <textarea name="" id=""></textarea>
            </div>
        </div>
    </div>
</div>
