  <div class="container">
    <div class="clientsList">

     <div class="body">
              <legend class="title">Contrato de acto</legend>
        
        
        <div class="table-wrapper" style="position: relative; min-height: 300px;">
          <app-loader [isLoading]="isLoading()" mode="component"></app-loader>

       <div class="table"> 
        @if(
      acts$ | async
      ; as state) {
      <p-table
        #dt1
        [value]='state'
        [rows]="10"
        [paginator]="true"
        [globalFilterFields]="['TxLugar', 'Capacidad']"
        [tableStyle]="{'min-width': '50rem'}"
        >
        <ng-template pTemplate="caption" let-event>
          <div class="flex-row">
            <div class="p-toolbar-group-end">
              <span class="p-input-icon-left ml-auto">
                <i class=""></i>
                <input
                class="search"
                #searchInput
                pInputText
                type="text"
                placeholder="BUSCAR"
                (input)="dt1.filterGlobal(searchInput.value, 'contains')"
              />
                </span>
            </div>
          </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width: 1rem" class="border">
                <div class="flex thstyles">CÓDIGO</div>
              </th>
              <th style="min-width: 6rem">
                <div class="flex thstyles">FECHA</div>
              </th>
              <th style="min-width: 5.5rem">
                <div class="flex thstyles">HORA</div>
              </th>
              <th style="min-width: 1rem">
                <div class="flex thstyles">SIGLAS</div>
              </th>
              <th style="min-width: 9rem">
                <div class="flex thstyles">ESPECIALIDAD</div>
              </th>
              <th style="min-width: 10rem">
                <div class="flex thstyles">LUGAR</div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-act class="p-table">
            <tr class="table-content" 
            (click)=" onSelectActContract(act)" 
            [class.disabled]="isEnabled" 
            [class.selected]="selectedAct?.CodigoActo === act.CodigoActo" > 
              <td>
                {{ act.CodigoActo }}
              </td>
              <td>
                {{ formateDateString(act.Fecha) }}
              </td>
              <td>
                {{ formateTimeString(act.Hora) }}
              </td>
              <td>
                {{ act.siglas }}
              </td>
              <td>
                {{ act.especialidad }}
              </td>
              <td>
                {{ act.TxLugar }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No elementos encontrados.</td>
            </tr>
          </ng-template>
        </p-table>
      }
    </div>
  </div>
     </div>
    </div>

    <div class="clientForm">
        <form  autocomplete="off" [formGroup]="actForm">
            <div class="inputGroup4">
                <div class="inputGroup">
                    <label for="code">CÓDIGO</label>
                    <input type="text" id="code" name="code" appOnlyNumbers appUppercase formControlName="CodigoActo" appOnlyNumbers>
                </div>

                <div class="inputGroup">
                    <label for="identification">FECHA</label>
                    <input type="date" id="identification" name="identification" formControlName="Fecha">
                </div>

                <div class="inputGroup">
                    <label for="time">HORA</label>
                    <input type="time" id="time" name="time" formControlName="Hora">
                </div>
            </div>

            <div class="inputGroup">
                <label for="place">LUGAR</label>
                <input type="text" id="place" name="place"  appUppercase formControlName="TxLugar" list="actPlaces" (change)="onLugarChange($event)">
            </div>

            <datalist id="actPlaces">
              @for(place of actPlaces; track place.CoLugar) {
                <option value="{{place.TxLugar}}">  
              } 
            </datalist>

            <div class="inputGroup">
                <label for="institution">INSTITUTO</label>
                <input type="text" id="institution" name="institution"  appUppercase formControlName="nbInstitucion" list="institutions" (change)="onInstitutionChange($event)">
            </div>

            <datalist id="institutions">
              @for(instituto of instituctions; track $index) {
                <option value="{{instituto.nbinstitucion}}">
              }
            </datalist>

            <div class="inputGroup4">
              <div class="inputGroup">
                <label for="capacity">ESPECIALIDAD</label>
                <input type="text" id="capacity" name="capacity"  appUppercase formControlName="especialidad" list="specialities">
            </div>

            <datalist id="specialities">
              @for(especialidad of specialities; track $index) {
                <option value="{{especialidad}}">
              }
            </datalist>

            <div class="inputGroup">
                <label for="capacity">TITULO</label>
                <input type="text" id="capacity" name="capacity"  appUppercase formControlName="titulo" list="titulos">
            </div>
            </div>

            <datalist id="titulos">
              @for(titulo of titulo; track $index) {
                <option value="{{titulo}}">
              }
            </datalist>

           <div class="inputGroup4" id="userTable">
                <!-- @if(
                actUsers$ | async
                ; as state) { -->
                <p-table
                  #dt1
                  [value]="actUsers$ | async"
                  [rows]="5"
                  [scrollable]="true"
                  scrollHeight="flex"
                  scrollHeight="200px"
                  styles="mr-2"
                  [tableStyle]="{'min-width': '10rem'}"
                  >
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="min-width: 1rem;" class="border">
                          <div class="flex thstyles">NO CONTRATO</div>
                        </th>
                        <th style="min-width: 10rem">
                          <div class="flex thstyles">NOMBRE</div>
                        </th>
                        <th style="min-width: 1rem">
                          <div class="flex thstyles">PAGADO</div>
                        </th>
                        <th style="min-width: 1rem;">
                          <div class="flex thstyles">SALDO</div>
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-user class="p-table">
                      <tr class="table-content2" 
                      (click)=" selectedUser(user)" 
                      [class.selected]="selectActUser?.NoContrato === user.NoContrato"
                      > 
                        <td>
                          {{ user.NoContrato }}
                        </td>
                        <td>
                          {{ user.Nombre }}
                        </td>
                        <td>
                          {{ user.MnPagado }}
                        </td>
                        <td>
                          {{ user.MnSaldo }}
                        </td>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                      @if(!codigoActo){
                      <tr>
                        <td colspan="7">Por favor seleccione un acto para ver los contratos.</td>
                      </tr>
                      }@else{
                      <tr>
                        <td colspan="7">No hay contratos disponibles.</td>
                      </tr>
                      }
                    </ng-template>
                  </p-table>
                <!-- } -->
          </div>
      
          <div class="actData">
            <div class="actInputs">
              <div class="inputGroup">
              <label for="capacity">TOTAL</label>
              <input type="text" id="capacity" name="capacity" appOnlyNumbers appUppercase [value]="total | currency:'Bs. ':'symbol':'1.2-2'" class="input">
            </div>

            <div class="inputGroup">
              <label for="capacity">POR GRADUANDO</label>
              <input type="text" id="capacity" name="capacity"  appOnlyNumbers appUppercase class="input" formControlName="MnCosto">
            </div>
            </div>

            <div class="btnsInput">
                <div class="icon2 recalculate" title="Recalcular" (click)="recalculateModal(this.codigoActo, MnCosto)">
                <i class="pi pi-calculator"></i>
              </div>

              <div class="icon2 refresh" title="Refrescar" (click)="refresh(this.codigoActo)">
                <i class="pi pi-sync"></i>
            </div>
            </div>
          </div>

            <div class="inputGroup4 pago">
            <div class="inputGroup">
              <label for="capacity">PAGADO</label>
              <input type="text" id="capacity" name="capacity" appOnlyNumbers appUppercase [value]="totalPaid | currency: 'Bs. ': 'symbol':'1.2-2' " >
            </div>

            <div class="inputGroup">
              <label for="capacity">CANTIDAD</label>
              <input type="text" id="capacity" name="capacity"  appOnlyNumbers appUppercase [value]="usersAmount" >
            </div>

            <div class="icon2 add2" title="Cancelar" (click)="addContract(codigoActo, MnCosto)">
              <i class="pi pi-plus"></i>
            </div>

            <div class="icon2 delete2" title="Cancelar" (click)="onCancel()">
              <i class="pi pi-minus"></i>
            </div>

            <div class="icon2 pay" title="Pagar" (click)="payments(selectActUser)">
              <i class="pi pi-credit-card"></i>
            </div>

            <div class="icon2 print" title="Cancelar" (click)="onCancel()">
              <i class="pi pi-print"></i>
            </div>
          </div>

          <div class="inputGroup3">
            <div class="inputGroup">
              <label for="capacity">SALDO</label>
              <input type="text" id="capacity" name="capacity" appOnlyNumbers appUppercase [value]="saldo | currency:'Bs. ':'symbol':'1.2-2'" class="input">
            </div>

            <div class="select">
              <input type="checkbox" id="capacity" name="capacity"  appUppercase >
              <label for="capacity">CULMINADA</label>
            </div>
          </div>
        </form>

        <div class="buttons">
          <!-- <div class="icon" title="Buscar">
            <i class="pi pi-search searchIcon"></i>
          </div> -->

          <div class="icons">
            <div class="icon" title="Agregar" (click)="onAdd()" [class.disabled]="isAdding">
              <i class="pi pi-plus add"></i>
            </div>

            <div class="icon" title="Guardar" (click)="onSave()" [class.disabled]="!isEnabled">
              <i class="pi pi-save save"></i>
            </div>

            <div class="icon" title="Eliminar" (click)="onDelete()"  [class.disabled]="!selectedAct" >
              <i class="pi pi-trash delete"></i>
            </div>
          </div>
          
          <div class="icon cancel" title="Cancelar" (click)="onCancel()">
            <i class="pi pi-times cancel"></i>
          </div>
        </div>
    </div>
</div>
