.container {
    width: 100%;
    height: 81vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 5vh;
}

.clientsList{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 1px solid #ababab !important;
}

.body{
    width: 98%;
    padding-bottom: 10px;
}

.clientForm{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    border: 1px solid #949393 !important;
    padding: 10px;
    background-color: rgb(223, 220, 220);
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 3px;
}

.inputGroup label{
    color: black;
    font-weight: bold;
}

.inputGroup input{
    height: 3vh;
    background-color: white;
    border: none;
    color: black;
    border-radius: 10px;
    padding-left: 10px;
    text-transform: uppercase
}

.inputGroup textarea{
    height: 15vh;
    background-color: white;
    border: none;
    color: black;
    resize: none;
    border-radius: 10px;
    padding-left: 10px;
    text-transform: uppercase;
}

.inputGroup2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.select{
    width: 100%;
    display: flex;
    align-items: center;
}

.inputGroup3{
    width: 100%;
    display: flex;
}

.inputGroup4{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.inputGroup4 input{
    width: 100%;
}

.identification{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.date{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputGroup2 input{
    height: 3vh;
    background-color: white;
    border: none;
    color: black;
}

.buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.buttons i{
    font-size: 30px;
}

.icon{
    color: black;
    background-color: darkgray;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.icon:hover{
    cursor: pointer;
    background-color: gray;
    transform: translateY(-2px);
}

.icon.disabled{
    pointer-events: none;
    opacity: 0.5;
    cursor: default;
}

.icons{
    display: flex;
    gap: 20px;
}

th{
    background-color: darkgray !important;
    color: black !important;
    border: none !important;
}

td{
    border: none !important;
}

  :host ::ng-deep p-table tr:nth-child(odd) {
    background-color: rgb(245, 243, 243) !important;
    color: black !important;
    border: none !important;
  }
  
  
  :host ::ng-deep p-table tr:nth-child(even) {
    background-color: rgb(190, 190, 190) !important;
    color: black !important;
    border: none !important;
  }

.search{
    background-color: lightgray;
    color: black;
    border: none;
    width: 103.5%;
    margin-left: -15px;
    text-transform: uppercase;
}

.search::placeholder{
    color: black;
}

.name{
    font-size: 14px;
}

.email{
    font-size: 16px;
    //todo en miniscula
    text-transform: lowercase;
}

.table-content:hover{
    background-color: gray !important;
    cursor: pointer;
}

.table-content.disabled {
  pointer-events: none;
}

::ng-deep{
    .p-table{
        width: 90% !important;
    }

    .p-datatable-header{
        background-color: white !important;
        border: none !important;
    }

    .p-paginator{
        background-color: darkgray !important;
        border: none;
        color: black !important;
    }

    .p-paginator-current{
        color: black !important;
        background-color: darkgray !important;
    }
    
    .p-paginator-first{
        background-color: darkgray !important;
        color: black !important;
    }

    .p-paginator-last{
        background-color: darkgray !important;
        color: black !important;
    }

    .p-paginator-prev{
        background-color: darkgray !important;
        color: black !important;
    }

    .p-paginator-next{
        background-color: darkgray !important;
        color: black !important;
    }

    .p-paginator-page{
        color: black !important;
        background-color: darkgray !important;
        border: none;
    }

    .p-paginator-rpp-dropdown{
        color: black !important;
        background-color: darkgray !important;
        border: none;
    }

    .p-select{
        border: 1px solid black !important;
    }

    .p-select-label{
        color: black !important;
    }

    .p-select-dropdown-icon{
        color: black !important;
    }

    .p-select-list{
        background-color: #ababab !important;
    }

    .p-select-option{
        background-color: darkgray !important;
        color: black !important;
    }

    .p-select-option:hover{
        background-color: gray !important;
        color: black !important;
    }

}



