<div class="container">
    <div class="user">
        <div class="inputGroup">
            <label for="contract">NO. CONTRATO</label>
            <input type="text" id="contract" name="contract">
        </div>

        <div class="inputGroup">
            <label for="cedula">NO. CEDULA</label>
            <input type="text" id="cedula" name="cedula">
        </div>

        <div class="inputGroup">
            <label for="name">CLIENTE</label>
            <input type="text" id="name" name="name">
        </div>
    </div>

    <div class="top">
        <div class="table">

        </div>

        <div class="inputs">
            <div class="inputGroup">
                <label for="montoContrato">MONTO CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">MONTO CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">MONTO CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">MONTO CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">MONTO CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>
            
            <div class="selects">
                <div class="selectGroup">
                    <label for="anulado">ANULADO</label>
                    <input type="checkbox" name="anulado" id="anulado">
                </div>

                <div class="selectGroup">
                    <label for="preview">PREVIEW</label>
                    <input type="checkbox" name="preview" id="preview">
                </div>
            </div>
        </div>
    </div>

    <div class="mid">
        <div class="details">
            <div class="detailsInputs">
                <div class="inputGroup">
                    <label for="recibo">NO. RECIBO</label>
                    <input type="text" id="recibo" name="recibo">
                </div>

                <div class="inputGroup">
                    <label for="fecha">FECHA</label>
                    <input type="text" id="fecha" name="fecha">
                </div>

                <div class="inputGroup">
                    <label for="pago">PAGO</label>
                    <input type="text" id="pago" name="pago">
                </div>
            </div>

            <div class="detailsTableBtn">
                <div class="icon2">
                    <i class="pi pi-file-excel"></i>
                </div>

                <div class="detailsTable">
                    <label for="observacion">OBSERVACIÓN</label>
                    <textarea name="observacion" id="observacion"></textarea>
                </div>
            </div>
        </div>

        <div class="buttons">
            <div class="icon">
                <i class="pi pi-file"></i>
            </div>

            <div class="icon">
                <i class="pi pi-file"></i>
            </div>

            <div class="icon">
                <i class="pi pi-print"></i>
            </div>

            <div class="icon">
                <i class="pi pi-refresh"></i>
            </div>

            <div class="icon">
                <i class="pi pi-times"></i>
            </div>

            <div class="icon">
                <i class="pi pi-sign-out"></i>
            </div>
        </div>
    </div>
</div>