<div class="container">
    <div class="user">
        <div class="inputGroup">
            <label for="contract">NO. CONTRATO</label>
            <input type="text" id="contract" name="contract" readonly [value]="NoContrato">
        </div>

        <div class="inputGroup">
            <label for="cedula">NO. CEDULA</label>
            <input type="text" id="cedula" name="cedula" readonly [value]="NuCedula">
        </div>

        <div class="inputGroup cliente">
            <label for="name">CLIENTE</label>
            <input type="text" id="name" name="name" readonly [value]="client">
        </div>
    </div>

    <div class="top">
        <div class="table">
              <!-- @if(
      recibos$ | async
      ; as state) { -->
      <p-table
        #dt1
        [value]='recibos$ | async'
        [rows]="10"
        styleClass="ml-3 mr-3"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width: 10rem" class="border">
                <div class="flex thstyles">NO. RECIBO</div>
              </th>
              <th style="min-width: 10rem">
                <div class="flex thstyles">FECHA RECIBO</div>
              </th>
              <th style="min-width: 10rem">
                <div class="flex thstyles">MONTO RECIBO</div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-recibo class="p-table">
            <tr class="table-content"
            (click)="selectRecibo(recibo)"
            [class.selected]="NoRecibo === recibo.NoRecibo"
            > 
              <td>
                {{ recibo.NoRecibo }}
              </td>
              <td>
                {{ recibo.ferecibo | date: 'dd/MM/yyyy' }}
              </td>
              <td>
                {{ recibo.mnrecibo | currency: 'Bs. ': 'symbol':'1.2-2' }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No elementos encontrados.</td>
            </tr>
          </ng-template>
        </p-table>
      <!-- } -->
        </div>

        <div class="inputs">
            <div class="inputGroup">
                <label for="montoContrato">MONTO CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato" readonly [value]="montoContrato | currency: 'Bs. ': 'symbol':'1.2-2'">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">DESCUENTO</label>
                <input type="text" id="montoContrato" name="montoContrato" readonly [value]="descuento | currency: 'Bs. ': 'symbol':'1.2-2'">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">INICIAL CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato" readonly [value]="MnInicial | currency: 'Bs. ': 'symbol':'1.2-2'">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">MONTO PAGADO</label>
                <input type="text" id="montoContrato" name="montoContrato" readonly [value]="montoPagado | currency: 'Bs. ': 'symbol':'1.2-2'">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">MONTO SALDO</label>
                <input type="text" id="montoContrato" name="montoContrato" readonly [value]="montoSaldo | currency: 'Bs. ': 'symbol':'1.2-2'">
            </div>
            
            <div class="selects">
                <div class="selectGroup">
                    <label for="anulado">ANULADO</label>
                    <input type="checkbox" name="anulado" id="anulado">
                </div>

                <div class="selectGroup">
                    <label for="preview">PREVIEW</label>
                    <input type="checkbox" name="preview" id="preview" checked>
                </div>

                <button>
                    ELIMINAR RECIBO
                </button>
            </div>
        </div>
    </div>

    <div class="mid">
        <div class="details">
            <div class="detailsInputs">
                <div class="inputGroup">
                    <label for="recibo">NO. RECIBO</label>
                    <input type="text" id="recibo" name="recibo">
                </div>

                <div class="inputGroup">
                    <label for="fecha">FECHA</label>
                    <input type="text" id="fecha" name="fecha">
                </div>

                <div class="inputGroup">
                    <label for="pago">PAGO</label>
                    <input type="text" id="pago" name="pago">
                </div>
            </div>

            <div class="detailsTableBtn">
                <!-- <div class="icon2">
                    <i class="pi pi-file-excel"></i>
                </div> -->

                <div class="detailsTable">
                    <label for="observacion">OBSERVACIÓN</label>
                    <textarea name="observacion" id="observacion"></textarea>
                </div>
            </div>
        </div>

        <div class="buttons">
            <div class="icon" title="Nueva Operación">
                <i class="pi pi-file"></i>
            </div>

            <div class="icon" title="Caja">
                <i class="pi pi-money-bill"></i>
            </div>

            <div class="icon" title="Imprimir">
                <i class="pi pi-print"></i>
            </div>

            <div class="icon" title="Actualizar">
                <i class="pi pi-refresh"></i>
            </div>

            <div class="icon" title="Cancelar">
                <i class="pi pi-times"></i>
            </div>

            <div class="icon" title="Salida">
                <i class="pi pi-sign-out"></i>
            </div>
        </div>
    </div>

    <div class="bot">
        <div class="abonosTable">
            <label for="abonos">ABONOS</label>
                          <!-- @if(
      abonos$ | async
      ; as state) { -->
      <p-table
        #dt1
        [value]='abonos$ | async'
        [rows]="10"
        styleClass="ml-3 mr-3"
        class="tableAbonos"
        >
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width: 1rem" class="border">
                <div class="flex thstyles">FECHA DEPOSITO</div>
              </th>
              <th style="min-width: 1rem">
                <div class="flex thstyles">TIPO OPERACIÓN</div>
              </th>
              <th style="min-width: 1rem">
                <div class="flex thstyles">BANCO</div>
              </th>
                <th style="min-width: 1rem">
                <div class="flex thstyles">NO. DEPOSITO</div>
              </th>
             <th style="min-width: 1rem">
                <div class="flex thstyles">MONTO DEPOSITO</div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-abono class="p-table">
            <tr class="table-content tableAbonos"> 
              <td>
                {{ abono.Fecha | date: 'dd/MM/yyyy' }}
              </td>
              <td>
                {{ abono.TipoOperacion }}
              </td>
              <td>
                {{ abono.TxBanco }}
              </td>
              <td>
                {{ abono.NuDeposito }}
              </td>
              <td>
                {{ abono.MnDeposito | currency: 'Bs. ': 'symbol':'1.2-2' }}
              </td>
            </tr>
          </ng-template>
        </p-table>
      <!-- } -->
        </div>

        <div class="payments">
            <label>FORMAS DE PAGO</label>

            <div class="inputGroup">
                <label for="montoContrato">MÉTODO DE PAGO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">BANCO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>

           <div class="paymentsBot">
                <div class="inputs-col">
                    <div class="inputGroup">
                        <label for="cheque">NO. REFERENCIA</label>
                        <input type="text" id="cheque">
                    </div>
                    <div class="inputGroup">
                        <label for="fecha">FECHA</label>
                        <input type="text" id="fecha">
                    </div>
                    <div class="inputGroup">
                        <label for="trans">MONTO PAGO</label>
                        <input type="text" id="trans">
                    </div>
                </div>

                <div class="icons-col">
                    <div class="icon" title="Agregar"><i class="pi pi-plus"></i></div>
                    <div class="icon" title="Eliminar"><i class="pi pi-minus"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>