<div class="container">
    <div class="user">
        <div class="inputGroup">
            <label for="contract">NO. CONTRATO</label>
            <input type="text" id="contract" name="contract">
        </div>

        <div class="inputGroup">
            <label for="cedula">NO. CEDULA</label>
            <input type="text" id="cedula" name="cedula">
        </div>

        <div class="inputGroup">
            <label for="name">CLIENTE</label>
            <input type="text" id="name" name="name">
        </div>
    </div>

    <div class="top">
        <div class="table">

        </div>

        <div class="inputs">
            <div class="inputGroup">
                <label for="montoContrato">MONTO CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">MONTO CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">MONTO CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">MONTO CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>

            <div class="inputGroup">
                <label for="montoContrato">MONTO CONTRATO</label>
                <input type="text" id="montoContrato" name="montoContrato">
            </div>
            
            <div class="selects">
                <div class="selectGroup">
                    <label for="anulado">ANULADO</label>
                    <input type="checkbox" name="anulado" id="anulado">
                </div>

                <div class="selectGroup">
                    <label for="preview">PREVIEW</label>
                    <input type="checkbox" name="preview" id="preview">
                </div>
            </div>
        </div>
    </div>
</div>