<div class="container">
    <fieldset class="group">
        <legend class="title">Destino</legend>

        <div class="selects">
            <div class="inputGroup">
                <input type="radio" id="destinoPantalla" name="destOption" value="pantalla" checked #optPantalla>
                <label for="destinoPantalla">En pantalla</label>
            </div>

            <div class="inputGroup">
                <input type="radio" id="destinoImprimir" name="destOption" value="imprimir" #optImprimir>
                <label for="destinoImprimir">Imprimir (Descargar)</label>
            </div>
        </div>

        <div class="selects">
            <div class="inputGroup">
                <input type="radio" id="pageOne" name="pageLayout" value="1" checked #optOnePage>
                <label for="pageOne">1 página</label>
            </div>

            <div class="inputGroup">
                <input type="radio" id="pageTwo" name="pageLayout" value="2" #optTwoPages>
                <label for="pageTwo">2 páginas</label>
            </div>
        </div>
    </fieldset>

    <div class="btns">
        <button class="pdf" (click)="onSubmitPrint('PDF', optPantalla.checked, optOnePage.checked, this.NoRecibo)">
            PDF
        </button>
        <button class="correo" (click)="onSubmitPrint('CORREO', optPantalla.checked, optOnePage.checked, this.NoRecibo)">
            CORREO
        </button>
    </div>
</div>