<form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <div class="razonSocial">
            <div class="inputGroup">
                <label for="social">RAZÓN SOCIAL</label>
                <input type="text" id="social" formControlName="Nombre">
            </div>

            <div class="inputGroup2">
                <label for="rif">RIF</label>
                <input type="text" id="rif" formControlName="Rif">
            </div>

            <div class="inputGroup">
                <label for="direccion">DIRECCIÓN</label>
                <textarea id="direccion" formControlName="Direccion"></textarea>
            </div>

            <div class="inputGroup3">
                <div class="inputGroup">
                    <label for="telefono">TELÉFONO</label>
                    <input type="text" id="telefono" formControlName="Telefono">
                </div>

                <div class="inputGroup">
                    <label for="fax">FAX</label>
                    <input type="text" id="fax" formControlName="Fax">
                </div>
            </div>

            <div class="inputGroup2">
                <label for="sucursal">COD. SUCURSAL</label>
                <input type="text" id="sucursal" formControlName="CoSucursal">
            </div>

            <div class="inputGroup">
                <label for="nombreSucursal">NOMBRE SUC.</label>
                <input type="text" id="nombreSucursal" formControlName="NbSucursal">
            </div>

            <div class="inputGroup2">
                <label for="admin">CLAVE ADMIN</label>
                <input type="password" id="admin" formControlName="txclaveadm">
            </div>
        </div>

        <div class="configuration">
            <div class="left">
                <div class="inputGroup2">
                    <label for="fab">CANT. DIAS FAB</label>
                    <input type="number" id="fab" formControlName="CaDiasFab">
                </div>

                <div class="inputGroup2">
                    <label for="eng">CANT. DIAS ENG.</label>
                    <input type="number" id="eng" formControlName="CaDiasEngaste">
                </div>

                <div class="inputGroup2">
                    <label for="oro18">PRECIO ORO 18</label>
                    <input type="text" id="oro18" formControlName="PcOro18">
                </div>

                <div class="inputGroup2">
                    <label for="oro14">PRECIO ORO 14</label>
                    <input type="text" id="oro14" formControlName="PcOro14">
                </div>

                <div class="inputGroup2">
                    <label for="oro10">PRECIO ORO 10</label>
                    <input type="text" id="oro10" formControlName="PcOro10">
                </div>

                <div class="inputGroup2">
                    <label for="mewrma">MONTO MERMA</label>
                    <input type="text" id="mewrma" formControlName="MnMerma">
                </div>

                <div class="inputGroup2">
                    <label for="oro">COSTO ORO</label>
                    <input type="text" id="oro" formControlName="MnCostOro">
                </div>

                <div class="inputGroup2">
                    <label for="obra">COSTO MANO OB.</label>
                    <input type="text" id="obra" formControlName="MnCostoMano">
                </div>
            </div>

            <div class="right">
                <div class="inputGroup2">
                    <label for="iva">IMPUESTO (IVA)</label>
                    <input type="text" id="iva" formControlName="Impuesto">
                </div>

                <div class="inputGroup2">
                    <label for="recibo">NO. RECIBO</label>
                    <input type="number" id="recibo" formControlName="NoRecibo">
                </div>

                <div class="inputGroup2">
                    <label for="contrato">NO. CONTRATO</label>
                    <input type="number" id="contrato" formControlName="NoContrato">
                </div>

                <div class="inputGroup2">
                    <label for="acto">NO. ACTO</label>
                    <input type="number" id="acto" formControlName="NoActo">
                </div>

                <div class="inputGroup2">
                    <label for="cierre">NO. CIERRE</label>
                    <input type="number" id="cierre" formControlName="NoCierre">
                </div>

                <div class="select">
                    <input type="checkbox" id="NoRecibo" formControlName="GeneraNoRecibo">
                    <label for="NoRecibo">NO. RECIBO AUTOMÁTICO</label>
                </div>

                <div class="select">
                    <input type="checkbox" id="NoContrato" formControlName="GeneraNoContrato">
                    <label for="NoContrato">NO. CONTRATO AUTOMÁTICO</label>
                </div>

                <div class="select">
                    <input type="checkbox" id="NoActo" formControlName="GeneraNoActo">
                    <label for="NoActo">NO. ACTO AUTOMÁTICO</label>
                </div>

                <div class="select">
                    <input type="checkbox" id="NoCierre" formControlName="GeneraNoCierre">
                    <label for="NoCierre">NO. CIERRE AUTOMÁTICO</label>
                </div>
            </div>
        </div>

        <div class="mensajes">
            <div class="textAreaGroup">
                <label for="mensaje1">MENSAJE 1</label>
                <textarea id="mensaje1" formControlName="TxMensaje1"></textarea>
            </div>

            <div class="textAreaGroup">
                <label for="mensaje2">MENSAJE 2</label>
                <textarea id="mensaje2" formControlName="TxMensaje2"></textarea>
            </div>

            <div class="textAreaGroup">
                <label for="mensaje3">MENSAJE 3</label>
                <textarea id="mensaje3" formControlName="TxMensaje3"></textarea>
            </div>
        </div>

        <div class="buttons">
            <div class="inputGroup">
                <label for="fecha">FECHA REGISTRO</label>
                <input type="text" id="fecha" formControlName="feregistro" readonly>
            </div>

            <div class="btns">
                <button type="submit" class="icon" style="border:none; cursor:pointer;">
                    <i class="pi pi-save"></i>
                </button>

                <div class="icon">
                    <i class="pi pi-sign-out"></i>
                </div>
            </div>
        </div>
    </div>
</form>