<form action="">
    <div class="container">
        <div class="razonSocial">
            <div class="inputGroup">
                <label for="social">RAZÓN SOCIAL</label>
                <input type="text" id="social" name="social">
            </div>

            <div class="inputGroup2">
                <label for="rif">RIF</label>
                <input type="text" id="rif" name="rif">
            </div>

            <div class="inputGroup">
                <label for="direccion">DIRECCIÓN</label>
                <textarea name="direccion" id="direccion"></textarea>
            </div>

            <div class="inputGroup3">
                <div class="inputGroup">
                    <label for="telefono">TELÉFONO</label>
                    <input type="text" id="telefono" name="telefono">
                </div>

                <div class="inputGroup">
                    <label for="fax">FAX</label>
                    <input type="text" id="fax" name="fax">
                </div>
            </div>

            <div class="inputGroup2">
                <label for="sucursal">COD. SUCURSAL</label>
                <input type="text" id="sucursal" name="sucursal">
            </div>

            <div class="inputGroup">
                <label for="nombreSucursal">NOMBRE SUC.</label>
                <input type="text" id="nombreSucursal" name="nombreSucursal">
            </div>

            <div class="inputGroup2">
                <label for="admin">CLAVE ADMIN</label>
                <input type="text" id="admin" name="admin">
            </div>
        </div>

        <div class="configuration">
            <div class="left">
                <div class="inputGroup2">
                    <label for="fab">CAMT. DIAS FAB</label>
                    <input type="text" id="fab" name="fab">
                </div>

                <div class="inputGroup2">
                    <label for="eng">CANT. DIAS ENG.</label>
                    <input type="text" id="eng" name="eng">
                </div>

                <div class="inputGroup2">
                    <label for="oro18">PRECIO ORO 18</label>
                    <input type="text" id="oro18" name="oro18">
                </div>

                <div class="inputGroup2">
                    <label for="oro14">PRECIO ORO 14</label>
                    <input type="text" id="oro14" name="oro14">
                </div>

                <div class="inputGroup2">
                    <label for="oro10">PRECIO ORO 10</label>
                    <input type="text" id="oro10" name="oro10">
                </div>

                <div class="inputGroup2">
                    <label for="mewrma">MONTO MERMA</label>
                    <input type="text" id="mewrma" name="mewrma">
                </div>

                <div class="inputGroup2">
                    <label for="oro">COSTO ORO</label>
                    <input type="text" id="oro" name="oro">
                </div>

                <div class="inputGroup2">
                    <label for="obra">COSTO MANO OB.</label>
                    <input type="text" id="obra" name="obra">
                </div>
            </div>

            <div class="right">
                <div class="inputGroup2">
                    <label for="iva">IMPUESTO (IVA)</label>
                    <input type="text" id="iva" name="iva">
                </div>

                <div class="inputGroup2">
                    <label for="recibo">NO. RECIBO</label>
                    <input type="text" id="recibo" name="recibo">
                </div>

                <div class="inputGroup2">
                    <label for="contrato">NO. CONTRATO</label>
                    <input type="text" id="contrato" name="contrato">
                </div>

                <div class="inputGroup2">
                    <label for="acto">NO. ACTO</label>
                    <input type="text" id="acto" name="acto">
                </div>

                <div class="inputGroup2">
                    <label for="cierre">NO. CIERRE</label>
                    <input type="text" id="cierre" name="cierre">
                </div>

                <div class="select">
                    <input type="checkbox" id="NoRecibo" name="NoRecibo">
                    <label for="NoRecibo">NO. RECIBO AUTOMÁTICO</label>
                </div>

                <div class="select">
                    <input type="checkbox" id="NoContrato" name="NoContrato">
                    <label for="NoContrato">NO. CONTRATO AUTOMÁTICO</label>
                </div>

                <div class="select">
                    <input type="checkbox" id="NoActo" name="NoActo">
                    <label for="NoActo">NO. ACTO AUTOMÁTICO</label>
                </div>
                <div class="select">
                    <input type="checkbox" id="NoCierre" name="NoCierre">
                    <label for="NoCierre">NO. CIERRE AUTOMÁTICO</label>
                </div>
            </div>
        </div>

        <div class="mensajes">
            <div class="textAreaGroup">
                <label for="mensaje1">MENSAJE 1</label>
                <textarea id="mensaje1" name="mensaje1"></textarea>
            </div>

            <div class="textAreaGroup">
                <label for="mensaje2">MENSAJE 2</label>
                <textarea id="mensaje2" name="mensaje2"></textarea>
            </div>

            <div class="textAreaGroup">
                <label for="mensaje3">MENSAJE 3</label>
                <textarea id="mensaje3" name="mensaje3"></textarea>
            </div>
        </div>

        <div class="buttons">
            <div class="inputGroup">
                <label for="fecha">FECHA REGISTRO</label>
                <input type="date" id="fecha" name="fecha">
            </div>

            <div class="btns">
                <div class="icon">
                    <i class="pi pi-save"></i>
                </div>

                <div class="icon">
                    <i class="pi pi-sign-out"></i>
                </div>
            </div>
        </div>
    </div>
</form>