<div class="container">
    <div class="info">
        <div class="info-img">
            <img src="../../../../../assets/img/logo.png" alt="About Us">
        </div>

        <div class="info-group">
            <div class="info-txt">
                <h1>GradoSoft</h1>
                <h4>Grado's de Venezuela, C.A.</h4>
                <h4>Rif: J-123456789</h4>
                <h4>Vencimiento del dominio: 31-12-2026</h4>
            </div>

            <fieldset class="group">
                <legend class="title">Diseño y Desarrollo</legend>

                <div class="info-txt">
                    <h4>Ing. Juan Medina</h4>
                    <h4>Ing. Christopher Medina</h4>
                    <h4>Email: jcmedinaf&#64;gmail.com</h4>
                    <h4>Cel: 04246377311</h4>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="about">
        <div class="warn">
            <p>Advertencia: Este programa está protegido por las leyes de derechos de autor y otros tratados internacionales. La reproducción o distribución no autorizadas de este programa o de cualquier parte del mismo, puede dar lugar a reponsabilidades civiles y criminales, que serán perseguidas.</p>
        </div>

        <div class="acept">
            <button>Aceptar</button>
            <p>Versión 2.0.0</p>
            <p>Copyright © 2012-2026</p>
        </div>
    </div>
</div>
