.loader-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #1e3a8a;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

.image-loader-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  margin: 50px auto;
}

.center-image {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 50%; /* opcional */
  padding: 5px;
}

.loader-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120px;
  height: 120px;
  transform: translate(-50%, -50%);
  border: 8px solid #f3f3f3;
  border-top: 8px solid #1e3a8a;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  z-index: 1;
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg);}
  25% { transform: translate(-50%, -50%) rotate(90deg);}
  50% { transform: translate(-50%, -50%) rotate(180deg);}
  75% { transform: translate(-50%, -50%) rotate(270deg);}
  100% { transform: translate(-50%, -50%) rotate(360deg);}
}

::ng-deep .p-toast-message-content {
  backdrop-filter: none !important;
  filter: none !important;
  background: unset !important;
}

::ng-deep .p-toast-message-success {
  background: #4caf50 !important; // verde
  color: #fff !important;
}

::ng-deep .p-toast-message-info {
  background: #2196f3 !important; // azul
  color: #fff !important;
}

::ng-deep .p-toast-message-warn {
  background: #ff9800 !important; // naranja
  color: #fff !important;
}

::ng-deep .p-toast-message-error {
  background: #f44336 !important; // rojo
  color: #fff !important;
}

::ng-deep .p-toast {
  border: none !important;
}

::ng-deep .p-toast-detail {
  color: white !important;
}

::ng-deep .p-menubar-separator{
  border-color: inherit !important;
}


@media (max-width: 768px) {
    .main-app-content {
        display: none !important;
    }

    .mobile-blocker {
        display: flex !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000000;
        z-index: 99999;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        color: white;

        .message-container {
            max-width: 80%;
            font-family: sans-serif;
            h1 { margin-bottom: 1rem; color: white; }
            p { font-size: 1.2rem; opacity: 0.8; color: white; }
        }
    }
}

/* En pantallas grandes, el bloqueador no existe */
.mobile-blocker {
    display: none;
}