::ng-deep .p-toast-message-content {
  font-family: 'Inter', sans-serif !important;
  backdrop-filter: none !important;
  filter: none !important;
  background: unset !important;
}

::ng-deep .p-toast-message-success {
  background: #4caf50 !important; // verde
  color: #fff !important;
}

::ng-deep .p-toast-message-info {
  background: #2196f3 !important; // azul
  color: #fff !important;
}

::ng-deep .p-toast-message-warn {
  background: #ff9800 !important; // naranja
  color: #fff !important;
}

::ng-deep .p-toast-message-error {
  background: #f44336 !important; // rojo
  color: #fff !important;
}

::ng-deep .p-toast {
  border: none !important;
}

::ng-deep .p-toast-detail {
  color: white !important;
}

::ng-deep{
  .p-dialog-header{
    font-family: 'Inter', sans-serif !important;
    background-color: white;
    color: #1E293B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .p-dialog-content{
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .p-dialog .p-button{
    background-color: transparent !important;
    color: #1E293B !important;
    font-weight: bold;
  }

  .p-dialog .p-button:hover{
    background-color: transparent !important;
    color: red !important;
    opacity: 0.9;
  }
}

@media (max-width: 768px) {
    .main-app-content {
        display: none !important;
    }

    .mobile-blocker {
        display: flex !important;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #000000;
        z-index: 99999;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
        color: white;

        .message-container {
            max-width: 80%;
            font-family: 'Inter', sans-serif !important;
            h1 { margin-bottom: 1rem; color: white; }
            p { font-size: 1.2rem; opacity: 0.8; color: white; }
        }
    }
}

/* En pantallas grandes, el bloqueador no existe */
.mobile-blocker {
    display: none;
}