<div class="content">
    <form>
        <div class="logo">
            <img src="../../../../assets/img/grados.jpg" alt="">
        </div>

        <div class="inputs">
            <label for="username">Nombre de usuario</label>
            <input pInputText name="username" type="text" />
        </div>

        <div class="inputs">
            <label for="password">Contraseña</label>
            <input pInputText name="password" type="password" />
        </div>

        <div class="buttons">
            <button pButton type="submit" class="btn">Iniciar sesión</button>
        </div>
    </form>
</div>
