.content{
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    height: 70%;
    background-color: #e5e5e5;
    border-radius: 20px;
}

.logo{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 60%;
    height: 100%;
}

.inputs{
    display: flex;
    flex-direction: column;
    width: 70%;
}

:host ::ng-deep .p-inputtext:focus {
  box-shadow: none !important;
  border-color: transparent !important;
  outline: none !important;
}

label{
    color: black;
}

.btn{
    background-color: #00a1d6 !important;
    border: none !important;
    color: white !important;
}
 .btn:hover{
    opacity: 0.8;
 }