<div class="container">
    <nav>
        <p-menubar [model]="items" />
    </nav>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <!-- <div class="info">
            <label>Server</label>
            <p>Server is running...</p>
        </div> -->

        <div class="info">
            <label>Version</label>
            <p>2.0.0</p>
        </div>

        <div class="info">
            <label>Usuario</label>
            <p>{{ user }}</p>
        </div>

        <div class="info">
            <label>Nivel</label>
            <p>{{ role }}</p>
        </div>

        <div class="info">
            <label>Serial</label>
            <p>1234567890</p>
        </div>
    </footer>
</div>