.container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav{
    width: 100%;
    // background-color: #e5e5e5;\
    background-color: white;
    display: flex;
    flex-direction: column;
}

.icons{
    width: 100%;
    display: flex;
    gap: 20px;
    padding-left: 20px;
    margin-top: 5px;
}

.icons button{
    background-color: transparent;
    border: none;
    color: #1E293B;
    cursor: pointer;
}

.icons button:hover{
    // background-color: blue;
    opacity: 0.8;
}

.icons i{
    font-size: 1.5rem !important;
}

.separator{
    width: 2px;
    height: 20px;
    background-color: #1E293B;
}

.content{
    flex: 1 0 auto;
}

footer{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-weight: bold;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
    width: 10%;
    margin-left: 20px;
}

.info p, .info label{
    color: #1E293B;
}

::ng-deep{
    .p-menubar{
        background-color: white !important;
        color: #1E293B;
        border: none !important;
        height: 4vh;
        border-bottom: 1px solid rgb(175, 175, 175) !important;
    }

    .p-menubar-item:focus{
        background-color: white !important;
        color: #1E293B;
        border: none !important;
    }

    .p-menubar-item-link{
        color: #1E293B;
        height: 3vh;
        white-space: nowrap !important; /* Evita que el texto salte de línea si el menú es pequeño */
        font-family: 'Inter', sans-serif;
    }

    .p-menubar-item-link:hover{
        background-color: white !important;
        color: #1E293B;
        opacity: 0.8 !important;
    }

    .p-menubar-item-link:not(:hover) {
        background-color: white !important; /* Fondo después del hover */
        color: #1E293B;
    }
    
    .p-menubar::after{
         background-color: white !important;
    }
    
    .p-menuitem-active{
        background-color: white !important;
        color: #1E293B;
    }

    .p-menubar-submenu{
        border: none !important;
        background-color: white !important;
    }

    .p-menubar-item-label{
        font-weight: bold !important;
    }

    .p-menubar-separator{
        border-color: #1E293B !important;
    }
}

