<div class="container">
    <nav>
        <p-menubar [model]="items" />
        <div class="icons">
            <button routerLink="/home" title="Inicio">
                <i class="pi pi-home"></i>
            </button>

            <div class="separator"></div>

            <button routerLink="/clients" title="Clientes">
                <i class="pi pi-user"></i>
            </button>

            <button routerLink="/specialties" title="Especialidades">
                <i class="pi pi-briefcase"></i>
            </button>

            <button routerLink="/institutions" title="Instituciones">
                <i class="pi pi-building"></i>
            </button>

            <button routerLink="/actPlaces" title="Lugares de Acto">
                <i class="pi pi-map-marker"></i>
            </button>

            <button routerLink="/banks" title="Bancos">
                <i class="pi pi-money-bill"></i>
            </button>

            <button routerLink="/paymentMethods" title="Métodos de Pago">
                <i class="pi pi-credit-card"></i>
            </button>

            <div class="separator"></div>

            <!-- <button class="/" title="Contratos de anillos">
                <i class="pi pi-circle"></i>
            </button> -->

            <button routerLink="/actContracts" title="Contratos de Acto">
                <i class="pi pi-graduation-cap"></i>
            </button>

            <div class="separator"></div>

            <button routerLink="/users" title="Usuarios">
                <i class="pi pi-users"></i>
            </button>

            <button routerLink="/settings" title="Configuración">
                <i class="pi pi-cog"></i>
            </button>

            <div class="separator"></div>

            <button (click)="logout()" title="Cerrar sesión">
                <i class="pi pi-sign-out"></i>
            </button>
        </div>
    </nav>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <!-- <div class="info">
            <label>Server</label>
            <p>Server is running...</p>
        </div> -->

        <div class="info">
            <label>Version</label>
            <p>2.0.0</p>
        </div>

        <div class="info">
            <label>Usuario</label>
            <p>{{ user }}</p>
        </div>

        <div class="info">
            <label>Nivel</label>
            <p>{{ role }}</p>
        </div>

        <div class="info">
            <label>Serial</label>
            <p>1234567890</p>
        </div>
    </footer>
</div>