<div class="container">
    <nav>
        <p-menubar [model]="items" />
        <div class="icons">
            <button routerLink="/clients">
                <i class="pi pi-user"></i>
            </button>

            <button routerLink="/specialties">
                <i class="pi pi-briefcase"></i>
            </button>

            <button routerLink="/institutions">
                <i class="pi pi-building"></i>
            </button>

            <button routerLink="/actPlaces">
                <i class="pi pi-home"></i>
            </button>

            <button class="/">
                <i class="pi pi-crown"></i>
            </button>

            <button routerLink="/actContracts">
                <i class="pi pi-graduation-cap"></i>
            </button>

            <button>
                <i class="pi pi-bell"></i>
            </button>

            <button>
                <i class="pi pi-bell"></i>
            </button>

            <button>
                <i class="pi pi-bell"></i>
            </button>

            <button>
                <i class="pi pi-bell"></i>
            </button>
        </div>
    </nav>

    <div class="content">
        <router-outlet></router-outlet>
    </div>

    <footer>
        <!-- <div class="info">
            <label>Server</label>
            <p>Server is running...</p>
        </div> -->

        <div class="info">
            <label>Version</label>
            <p>2.0.0</p>
        </div>

        <div class="info">
            <label>Usuario</label>
            <p>{{ user }}</p>
        </div>

        <div class="info">
            <label>Nivel</label>
            <p>{{ role }}</p>
        </div>

        <div class="info">
            <label>Serial</label>
            <p>1234567890</p>
        </div>
    </footer>
</div>