/* PrimeNG theme & icons */
@import "primeicons/primeicons.css";

/* You can add global styles to this file, and also import other style files */
body{
    // background-color: #121212;
    background-color: #1E293B;
}

body.login-bg{
    background-color: black;
}

html, body{
    margin: 0;
}

p, label, h1, h2, h3, h4, h5, h6, th, td, button, legend, input, textarea, .p-inputtext{
    font-family: 'Inter', sans-serif !important;
    color: #1E293B;
}

app-root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
