<div class="container">
    <div class="clientsList">
      <div class="title">
        <h2>Lugares de Acto</h2>
      </div>

      <div class="body"> 
        @if(
      acts$ | async
      ; as state) {
      <p-table
        #dt1
        [value]='state'
        [rows]="10"
        [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true"
        currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        [globalFilterFields]="['TxLugar', 'Capacidad']"
        styleClass="ml-3 mr-3"
        >
        <ng-template pTemplate="caption" let-event>
          <div class="flex-row">
            <div class="p-toolbar-group-end">
              <span class="p-input-icon-left ml-auto">
                <i class=""></i>
                <input
                class="search"
                #searchInput
                pInputText
                type="text"
                placeholder="BUSCAR"
                (input)="dt1.filterGlobal(searchInput.value, 'contains')"
              />
                </span>
            </div>
          </div>
          </ng-template>
          <ng-template pTemplate="header">
            <tr>
              <th style="min-width: 1rem" class="border">
                <div class="flex thstyles">LUGAR</div>
              </th>
              <th style="min-width: 8rem">
                <div class="flex thstyles">CAPACIDAD</div>
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-actPlace class="p-table">
            <tr class="table-content" 
            (click)=" onSelect(actPlace)" 
            [class.disabled]="isEnabled" 
            [class.selected]="selectedActPlace?.CoLugar === actPlace.CoLugar" > 
              <td>
                {{ actPlace.TxLugar }}
              </td>
              <td>
                {{ actPlace.Capacidad }}
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">No elementos encontrados.</td>
            </tr>
          </ng-template>
        </p-table>
      }
    </div>
    </div>

    <div class="clientForm">
        <form  autocomplete="off" [formGroup]="actPlacesForm">
            <div class="inputGroup">
                <label for="name">DESCRIPCIÓN</label>
                <textarea id="name" name="name"  appUppercase formControlName="TxLugar"></textarea>
            </div>

            <div class="inputGroup">
                <label for="capacity">CAPACIDAD</label>
                <input type="text" id="capacity" name="capacity"  appUppercase formControlName="Capacidad">
            </div>

            <div class="inputGroup3">
              <div class="inputGroup2">
                <label for="identification">TIPO</label>
                <div class="select">
                    <input type="radio" id="university" class="checkbox" name="MaTipoLugar" [value]="1" formControlName="MaTipoLugar" >
                    <label for="university">TEATRO TECHADO</label>
                </div>

                <div class="select">
                    <input type="radio" id="tecnologico" class="checkbox" name="MaTipoLugar"  [value]="2" formControlName="MaTipoLugar">
                    <label for="tecnologico">ANFITEATRO </label>
                </div>

                <div class="select">
                    <input type="radio" id="school" class="checkbox" name="MaTipoLugar"  [value]="3" formControlName="MaTipoLugar">
                    <label for="school">TEATRO SIN TECHADO</label>
                </div>  

                <div class="select">
                    <input type="radio" id="enterprise" class="checkbox" name="MaTipoLugar"  [value]="4" formControlName="MaTipoLugar">
                    <label for="enterprise">AL AIRE LIBRE</label>
                </div>

                <div class="select">
                    <input type="radio" id="particular" class="checkbox" name="MaTipoLugar"  [value]="5" formControlName="MaTipoLugar">
                    <label for="particular">TEATRO - CINE</label>
                </div>

               <div class="select">
                    <input type="radio" id="particular" class="checkbox" name="MaTipoLugar"  [value]="6" formControlName="MaTipoLugar">
                    <label for="particular">OTRO</label>
                </div>
            </div>

            <div class="inputGroup2">
                <label for="identification">STATUS</label>
                <div class="select">
                    <input type="radio" id="active" class="checkbox" name="Activo" [value]="1" formControlName="Activo">
                    <label for="active">ACTIVO</label>
                </div>

                <div class="select">
                    <input type="radio" id="inactive" class="checkbox"  name="Activo" [value]="0" formControlName="Activo">
                    <label for="inactive">INACTIVO</label>
                </div>
            </div>
            </div>
        </form>

        <div class="buttons">
          <!-- <div class="icon" title="Buscar">
            <i class="pi pi-search searchIcon"></i>
          </div> -->

          <div class="icons">
            <div class="icon" title="Agregar" (click)="onAdd()" [class.disabled]="isAdding">
              <i class="pi pi-plus add"></i>
            </div>

            <div class="icon" title="Guardar" (click)="onSave()" >
              <i class="pi pi-save save"></i>
            </div>

            <div class="icon" title="Eliminar" (click)="onDelete()"  [class.disabled]="!selectedActPlace" >
              <i class="pi pi-trash delete"></i>
            </div>
          </div>

          <div class="icon" title="Cancelar" (click)="onCancel()">
            <i class="pi pi-times cancel"></i>
          </div>
        </div>
    </div>
</div>
