.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.recalculate{
    background-color: #2563EB;
    border: none;
    border-radius: 10px;
    height: 5vh;
    width: 30%;
    color: white;
}

.cancel{
    background-color: red;
    border: none;
    border-radius: 10px;
    height: 5vh;
    width: 30%;
    color: white;
}

.recalculate:hover{
    opacity: 0.9;
    cursor: pointer;
}

.cancel:hover{
    opacity: 0.9;
    cursor: pointer;
}

:host ::ng-deep .recalculate:focus {
    box-shadow: none !important;
    outline: none !important;
    border-color: transparent !important; /* Solo si el borde cambia de color */
}

::ng-deep {
    .p-dialog-header {
        display: flex;
        color: #1E293B;
    }
}