form{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

label{
    color: inherit;
    font-weight: bold;
}

.inputGroup1{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.inputGroup{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputGroup input{
    height: 3vh;
    background-color: #a9a9a9;
    border: none;
    color: black;
    border-radius: 10px;
    padding-left: 10px;
    text-transform: uppercase
}

.inputGroup input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.inputGroup2{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.inputGroup2 input{
    width: 100%;
    height: 3vh;
    background-color: #a9a9a9;
    border: none;
    color: black;
    border-radius: 10px;
    padding-left: 10px;
    text-transform: uppercase
}

.inputGroup2 textarea{
    width: 100%;
    height: 10vh;
    background-color: #a9a9a9;
    border: none;
    color: black;
    resize: none;
    border-radius: 10px;
    padding-left: 10px;
    text-transform: uppercase;
}

.btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: darkgray;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.icon i{
    font-size: 30px;
}

.icon:hover{
    cursor: pointer;
    background-color: gray;
    transform: translateY(-2px);
}